<ion-view view-title="球员编辑">

    <!--<ion-header-bar class="bar-assertive">-->
    <!--<div class="buttons">-->
    <!--<button class="button">Left</button>-->
    <!--</div>-->
    <!--<h1 class="title">Ionic Blank Starter</h1>-->
    <!--<div class="buttons">-->
    <!--<button class="button">Right</button>-->
    <!--</div>-->
    <!--</ion-header-bar>-->
    <!-- header example 2 -->
    <ion-content class="padding">
        <!-- content example 1 -->

        <!-- content example 1 -->
        <!-- content example 2 -->
        <!--<div class="list">-->
            <!--<div class="item">-->
                <!--Item 1-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--Item 2-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--Item 3-->
            <!--</div>-->
        <!--</div>-->

        <!-- content example 4 -->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">姓名</span>
                <input type="text">
            </label>
            <label class=" item item-input item-select ">
                <div class="input-label ">
                    性别
                </div>
                <select>
                    <option>男</option>
                    <option>女</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">年龄</span>
                <input type="number" ng-maxlength="20" placeholder="30"  >
            </label>
            <label class="item item-input">
                <span class="input-label">职务</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">球员简介</span>
                <textarea placeholder="请不要超过100字"></textarea>
            </label>
            <label class="item item-select">
                <span class="input-label">位置</span>
                <ul >
                    <li class="item item-checkbox">
                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox">
                        </label>
                        前锋
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        中锋
                    </li>
                    <li class="item item-checkbox checkbox-energized">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        后卫
                    </li>
                    <li class="item item-checkbox checkbox-calm">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        守门员
                    </li>
                </ul>
            </label>

            <label class="item item-input">
                <span class="input-label">活跃度</span>
                <div>
                    <a href="javascript:" ng-repeat="r in ratingArr" class="padding" style="text-decoration:none;">
                        <i class="icon {{r.icon}}" ng-click="setRating(r.value)"></i>
                    </a>
                </div>
            </label>
                <!--<label class="item item-input">-->
                <!--<span class="input-label">Password</span>-->
                <!--<input type="password">-->
            <!--</label>-->
        </div>
        <!-- content example 4 -->
        <!-- content example 5 -->
        <!--<div class="list">-->
            <!--<label class="item item-input item-floating-label">-->
                <!--<span class="input-label">Username</span>-->
                <!--<input type="text" placeholder="Username">-->
            <!--</label>-->
            <!--<label class="item item-input item-floating-label">-->
                <!--<span class="input-label">Password</span>-->
                <!--<input type="password" placeholder="Password">-->
            <!--</label>-->
        <!--</div>-->
        <!-- content example 5 -->
        <!-- content example 6 -->
        <!--<div class="list list-inset">-->
            <!--<label class="item item-input">-->
                <!--<i class="icon ion-search placeholder-icon"></i>-->
                <!--<input type="text" placeholder="Search...">-->
            <!--</label>-->
        <!--</div>-->
        <!-- content example 6 -->
        <!-- content example 7 -->

        <!-- content example 8 -->
        <!-- content example 9 -->

        <!-- content example 9 -->
        <!-- content example 10 -->



        <!-- content example 10 -->
    </ion-content>
    <ion-footer-bar class="bar-assertive ">
        <div class="title ">Footer</div>
    </ion-footer-bar>
</ion-view>
